* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 0;
}

header {
    background-image: url("car-bg.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: calc(100vh - 100px);
}

.container {
    margin: 0 auto;
    max-width: 100%;
    min-width: 1000px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header .content {
    font-size: 2rem;
    margin: auto;
}

.content h1 {
    color: #00c2ff;
    margin-bottom: 0;
}
nav .logo {
    font-size: 2rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li a {
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.highlight {
    background-color: #00c2ff;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

footer {
    background-color: #000;
    color: #fff;
    height: 50px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}
